body{
  background: #4D6CFA;
  font-size: 30
}
legend{
  color: white;
  font-size: 30
}
button {
    background-color: #DE0D92; /* Green */
    border: none;
    color: white;
    padding: 100px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 50%;
}

fieldset{
  background-color:#9E1946;
  max-width:500px;
  padding:20px;
  border:2px solid #3C0919;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
   border-radius:8px;
   color: white;
   font-size: 30px;
   margin: 30px

}
